.button-download {
  background: none;
  border: none;
}

.button-download__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  text-align: center;
}
