.catalog-header {
  background-color: #173c70;
  background-image: url("/source/img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 84px;


 @media (min-resolution: 2dppx) {
  background-image: url("/source/img/back-mobile@2x.jpg");
  background-size: cover;
  }
}

.catalog-header__navigaition-block {
  padding: 22px 20px 21px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0, 0.3);
}

.catalog-header__page-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  text-align: center;
  width: 228px;
  margin: 36px auto 0;
}

@media (min-width: $tablet-width) {
  .catalog-header {
    background-image: url("/source/img/back-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    padding-bottom: 143px;

  @media (min-resolution: 2dppx) {
    background-image: url("/source/img/back-tablet@2x.jpg");
    background-size: cover;
  }
}

  .catalog-header__page-title {
    margin: 81px auto 0;
    width: 358px;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-header {
    background-image: url("/source/img/back-desktop.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 27.92% 1fr;

    @media (min-resolution: 2dppx) {
      background-image: url("/source/img/back-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .catalog-header__page-title {
    grid-column: 1/3;
    width: 653px;
  }
}
