.catalog-header {
  background-color: #173c70;
  background-image: url("/source/img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 84px;
}

.catalog-header__navigaition-block {
  padding: 22px 20px 21px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0, 0.3);
}

.catalog-header__page-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  text-align: center;
  margin: 0 54px 0 54px;
}

@media (min-width: $desktop-width) {
  .catalog-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .catalog-header__page-title {
    grid-column: 1/3;
  }
}
