.contacts__wrapper {
  width: 100%;
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contacts__map {
  border: none;
}


.contacts__question {
  padding-bottom: 45px;
}


.contacts__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 55px;
  color: #283645;
  display: block;
  margin: 0 auto;
}


.contacts__explanation-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #283645;
  text-align: center;
  padding-bottom: 13px;
}


.contacts__phone-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #d22856;
  text-align: center;
  text-decoration: none;
  padding-bottom: 31px;
}


.contacts__ways {
  display: flex;
  flex-direction: column;
}

.contacts__phone {
  display: flex;
  flex-direction: column;
}


.contacts__write {
  display: flex;
  flex-direction: column;
}

.contacts__visit {
  display: flex;
  flex-direction: column;
}


@media (min-width: $tablet-width) {
  .contacts__ways {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts__phone {
    width: 50%;
  }


  .contacts__write {
    width: 50%;
  }


  .contacts__visit {
    width: 100%;
  }

  .contacts__question {
    padding-bottom: 50px;
  }


  .contacts__text {
    display: block;
    margin: 0 auto;
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
  }
}


@media (min-width: $desktop-width) {
  .contacts__ways {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contacts__phone {
    width: 30%;
  }

  .contacts__write {
    width: 30%;
  }

  .contacts__visit {
    width: 30%;
  }

  .contacts__explanation-text {
    padding-bottom: 34px;
  }
}
