.footer__wrapper {
  padding: 40px 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  padding-bottom: 38px;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
}

.footer__social-list {
  width: 180px;
  margin: 0 auto 40px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footer__social-link {
  width: 54px;
  height: 54px;
  display: inline-block;
  border-radius: 27px;
  outline: 2px solid #f2f2f2;
  position: relative;
  padding-top: 19px;
  box-sizing: border-box;
}


.footer__social-link:hover {
  outline: 3px solid  #283645;
}


.footer__social-link:active {
  opacity: 0.3;
}


.footer__social-link-image {
  position: absolute;
  top: 18px;
  left: 18px;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    padding: 40px 252px 0;
  }
}
