.form-header {
  background-color: #173c70;
  background-image: url(/source/img/back-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 84px;
}

.form-header__navigaition-block {
  padding: 22px 20px 21px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: $desktop-width) {
  .form-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .form-header__navigaition-block {
    padding-left: 130px;
    padding-top: 48px;
  }
}
