.forms__wrapper {
  padding: 0 22px;
}

.forms__invitation-text {
  font-family: $font-stack;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
}

.forms__explanation {
 font-family: $font-stack;
 font-size: 14px;
 font-weight: 400;
 line-height: 30px;
 text-transform: uppercase;
 color: #283645;
}
