.forms {
  padding-top: 55px;
}

.forms__invitation-text {
  font-family: $font-stack;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  width: 280px;
  margin: 0 auto 55px;
}

.forms__invitation-text-hidden {
  display: none;
}

.forms__explanation {
  font-family: $font-stack;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #283645;
}


@media (min-width: $tablet-width) {
  .forms__invitation-text {
    font-size: 18px;
    width: 490px;
    margin: 0 auto;
  }


  .forms__invitation-text-hidden {
    display: block;
    font-size: 18px;
    width: 490px;
    margin-bottom: 82px;
  }
}


@media (min-width: $desktop-width) {
  .forms__wrapper {
    padding: 0 132px;
  }

  .forms {
    padding-top: 100px;
  }
}
