.likes {
  padding: 0 30px;
}

.likes__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #D22856;
}

.likes__number {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #D22856;
}
