.logo__white{
  fill: #ffffff;
}

.logo__white:hover {
  fill: #d22856;
}

.logo__white:active {
  fill: #ffffff;
  opacity: 0.3;
}


.logo__white-tablet {
  fill: #ffffff;
  display: none;
}

.logo__white-tablet:hover {
  fill: #d22856;
}


.logo__white-tablet:active {
  fill: #ffffff;
  opacity: 0.3;
}


.logo__white-desktop {
  fill: #ffffff;
  display: none;
}

.logo__white-desktop:hover {
  fill: #d22856;
}


.logo__white-desktop:active {
  fill: #ffffff;
  opacity: 0.3;
}


.logo__black-text-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .logo {
    padding-left: 73px;
    position: relative;
    height: 33px;
  }


  .logo__white {
    display: none;
  }


  .logo__white-tablet {
    display: block;
  }


  .logo__white-desktop {
    display: none;
  }


  .logo__dark {
    padding-left: 0;
  }


  .logo__white-icon {
    width: 145px;
    height: 40px;
  }
}


@media (min-width: $desktop-width) {
  .logo__white {
    display: none;
  }


  .logo__white-tablet {
    display: none;
  }


  .logo__white-desktop {
    display: block;
  }


  .logo__red-glasses {
    display: none;
  }


  .logo__black-text-desktop {
    display: block;
  }


  .logo__black-text {
    order: 2;
  }


  .logo {
      display: flex;
  }


  .logo-footer {
    position: relative;
  }
}
