.main-navigation-toggle {
  width: 50px;
  height: 24px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
}

.main-navigation-toggle__image {
  position: absolute;
  top: 0;
  right: 0;
}
