.main-form__personal-data {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #D22856;
}

.main-form__name {
  border: none;
  padding: 0;
}

.main-form__achivements {
  border: none;
  padding: 0;
}

.main-form__contacts {
  border: none;
  padding: 0;
}

.main-form__apps {
  border: none;
  padding: 0;
}

.main-form__emotions {
  border: none;
  padding: 0;
}

.main-form__input {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.main-form__achivements-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.main-form__apps-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
