.main-form__personal-data-header {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
  width: 218px;
  margin: 0 21px 0 17px;

  &--hidden {
    display: none;
  }
}


.main-form__personal-data-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
  width: 218px;
  margin: 20px auto 44px;
  text-align: center;

  &--hidden {
    display: none;
  }
}


.main-form__name {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0;
}

.main-form__name-part {
  display: flex;
  flex-direction: column;
  width: 276px;
  margin: 0 auto 29px;
}

.main-form__achivements {
  border: none;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 0 20px;
  margin: 0;
}


.main-form__achivements-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}


.main-form__achivements-list-item {
  margin: 0 auto 47px;
}


.main-form__contacts {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0;
}

.main-form__contacts-phone {
  margin: 0 auto 29px;
  width: 276px;
}

.main-form__contacts-mail {
  margin: 0 auto 44px;
  width: 276px;
}


.main-form__apps {
  border: none;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 0 20px;
  margin: 0;
}


.main-form__apps-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  position: relative;
  width: 260px;
  margin: 0 auto 50px;
  padding-left: 58px;
}


.main-form__apps-text::before {
  content: " ";
  background-image: url("/img/radio-mark-empty.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 42px;
  height: 41px;
  left: 0;
}


.main-form__apps-input[type="radio"]:checked + .main-form__apps-example::before {
  content: " ";
  background-image: url("/img/radio-mark.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 42px;
  height: 41px;
  left: 0;
}

.main-form__emotions {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0 20px;
  margin: 0 0 52px;
}

.main-form__input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  padding: 23px 22px 23px 22px;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  width: 276px;
  box-sizing: border-box;
  margin: 0 auto;
}

.main-form__achivements-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  position: relative;
  padding-left: 55px;
  width: 260px;
  margin: 0 auto 47px;
}


.main-form__achivements-text::before {
  content: " ";
  background-image: url("/img/input-mark-empty.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 47px;
  height: 48px;
  left: 0;
}


.main-form__choise[type="checkbox"]:checked + .main-form__achivements-example::before {
  content: " ";
  background-image: url("/img/input-mark.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 47px;
  height: 48px;
  left: 0;
}


.main-form__final-block {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0;
}


.main-form__explanation {
  text-align: center;
}


@media (min-width: $tablet-width) {
  .form-main__container {
    padding: 0 22px;
  }


  .main-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
  }

  .main-form__name {
    align-items: end;
  }

  .main-form__contacts {
    border: 2px solid #e5e5e5;
    grid-row: 3/4;
    margin: 0 auto 51px;
    width: 616px;
  }

  .main-form__contacts-phone {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 496px;
  }

  .main-form__contacts-phone::after {
    content: " ";
    background-image: url("/img/phone-icon.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 59px;
    height: 59px;
    top: 0;
    right: 0;
  }

  .main-form__contacts-mail {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 496px;
  }


  .main-form__contacts-mail::after {
    content: " ";
    background-image: url("/img/mail-icon.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 59px;
    height: 59px;
    top: 0;
    right: 0;
  }

  .main-form__personal-data {
    order: 2;
  }

  .main-form__personal-data-header {
    margin: 0 0 39px 50px;
  }

  .main-form__personal-data-text {
    background-color: #ffffff;
    width: 395px;
    margin: -15px auto 44px;
  }


  .main-form__apps {
    border: 2px solid #e5e5e5;
    grid-row: 2/3;
    background-color: #ffffff;
    margin: 0 auto 51px;
    width: 616px;
  }

  .main-form__apps-text {
    margin: 0 0 50px 82px;
  }

  .main-form__emotions {
    border: 2px solid #e5e5e5;
    padding-left: 60px;
    padding-top: 47px;
    padding-bottom: 53px;
    padding-right: 60px;
  }

  .main-form__name-part {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 0 39px 29px;
  }

  .main-form__achivements {
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
    margin-bottom: 50px;
  }


  .main-form__achivements-text {
    margin: 0 0 82px 47px;
  }

  .main-form__input {
    width: 100%;
    padding: 13px 22px;
  }

  .main-form__final-block {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-form {
    display: grid;
    grid-template-columns: 430px 430px;
    grid-template-rows: 300px 200px 230px;
    gap: 70px;
  }

  .main-form__name {
    grid-column: 1/2;
    width: 432px;
  }

  .main-form__achivements {
    grid-column: 1/3;
    grid-row: 3/4;
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
  }


  .main-form__achivements-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }


  .main-form__achivements-list-item {
    width: 305px;
    margin-bottom: 58px;
  }


  .main-form__achivements-header {
    width: fit-content;
  }


  .main-form__contacts {
    grid-column: 1/3;
    grid-row: 2/3;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
    width: 940px;
  }


  .main-form__contacts-phone {
    width: 371px;
    height: fit-content;
    margin: 44px 74px 0 -179px;
  }


  .main-form__contacts-mail {
    width: 371px;
    height: fit-content;
    margin: 44px 85px 0 0;
  }

  .main-form__apps {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 433px;
    height: fit-content;
  }

  .main-form__emotions {
    grid-column: 1/3;
  }


  .main-form__emotions-text {
    margin-top: -56px;
  }


  .main-form__final-block {
    grid-column: 1/3;
  }

  .main-form__personal-data {
    &--hidden {
      display: block;
    }
  }

  .main-form__personal-data-header {
    width: fit-content;
    margin-left: 0;
  }

  .main-form__personal-data-text {
    height: 20px;
    width: fit-content;
  }


  .main-form__achivements-text {
    width: 30%;
  }


  .main-form__input {
    width: 336px;
    order: 2;
    text-align: center;
  }


  .main-form__name-part {
    display: flex;
    flex-direction: row;
  }


  .form-main-navigation__list {
    justify-content: space-around;
  }


  .form-main__container {
    padding: 0 130px;
  }
}
