.main-body {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: light;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
