.main-header {
  width: 100%;
  background-color: #173c70;
  background-image: url("/img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.main-header__navigation-block {
  padding: 22px 20px 21px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0.3);
}

.main-header__navigation-block-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-header__slogan {
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-align: center;
  padding: 0 20px;
  margin: 30px 0 34px;
}

.main-header__image {
  display: block;
}

@media (min-width: 1px) and (max-width: 1999px) {
  .main-header__open-navigation-list-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
  }
}


@media (min-width: $tablet-width) {
  .main-header__image {
    display: none;
  }

  .main-header__wrapper {
    background-image: url("/img/phone-in-hand-tablet.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 132px;
  }

  .main-header__slogan {
    width: 300px;
    font-size: 40px;
    line-height: 48px;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation-toggle {
    display: none;
  }

  .main-header__navigation-block {
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 130px 21px;
  }

  .main-header__open-navigation-list-wrapper {
    display: flex;
    flex-direction: row;
    position: sticky;
  }

  .main-header__wrapper {
    padding: 0 130px;
  }

  .main-header__slogan {
    width: 300px;
  }
}
