.main-header {
  width: 100%;
  background-color: #173c70;
  background-image: url("/img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 320px;
  height: 480px;
  display: flex;
  flex-direction: column;


  @media (min-resolution: 2dppx) {
      background-image: url("/img/back-mobile@2x.jpg");
      background-size: cover;
    }
}


.main-header__navigation-block {
  padding: 22px 20px 21px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0.3);
}


.main-header__navigation-block-wrapper {
  display: flex;
  justify-content: space-between;
}


.main-header__slogan {
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-align: center;
  padding: 0 20px;
  margin: 30px 0 34px;
}


.main-header__image {
  display: block;
  margin: 0 auto;
}


@media (min-width: 1px) and (max-width: 1999px) {
  .main-header__open-navigation-list-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
  }
}


@media (min-width: $tablet-width) {
  .main-header {
    background-image: url("/img/back-tablet.jpg");
    background-size: cover;
    height: 729px;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/back-tablet@2x.jpg");
    height: 729px;
    background-size: cover;
  }
}

  .main-header__image {
    display: none;
  }

  .main-header__wrapper {
    background-image: url("/img/phone-in-hand-tablet.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 99px;
  }

  .main-header__slogan {
    width: 300px;
    font-size: 40px;
    line-height: 48px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    background-image: url("/img/back-desktop.jpg");
    background-size: cover;
    height: max-content;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/back-desktop@2x.jpg");
      height: 853px;
      background-size: cover;
    }
  }


  .main-navigation-toggle {
    display: none;
  }

  .main-header__navigation-block {
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 130px 21px;
  }

  .main-header__open-navigation-list-wrapper {
    display: flex;
    flex-direction: row;
    position: sticky;
  }

  .main-header__wrapper {
    background-image: url("/img/phone-in-hand-desktop.png");
    background-repeat: no-repeat;
    height: 645px;
    padding: 0 130px;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/phone-in-hand-desktop@2x.png");
      background-size: cover;
    }
  }
  .main-header__slogan {
    width: 300px;
  }
}
