.main-form-button-submit {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  width: 276px;
  margin: 0 auto 46px;
  text-align: center;
  background: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 5px;
  padding: 23px 45px;
  text-transform: uppercase;
  display: block;
}


@media (min-width: $tablet-width) {
  .main-form-button-submit {
    margin: 0;
  }

  .main-form-button-submit__modal {
    margin: 0 auto;
  }
}
