.modal-window {
  padding: 44px 0 52px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 1px;
}

.modal-window__header {
  margin: 0 auto 37px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.modal-window__explanation {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
  width: 280px;
  display: block;
  margin: 0 auto 50px;
}

.modal-window__success-background-button {
  background: #f2f2f2;
  padding: 65px 10px 20px 16px;
  width: 100%;
}


@media (min-width: $tablet-width) {
  .modal-window {
    width: 460px;
    height: 363px;
    margin: 0 auto;
  }

  .modal-window__success-background-button {
    padding: 52px 0 52px;
    margin-top: 75px;
  }
}

@media (min-width: $desktop-width) {
  .modal-window {
    width: 780px;
    height: 363px;
    margin: 0 auto;
  }

  .modal-window__success-background-button {
    padding: 52px 0 52px;
  }

  .modal-window__error-background-button {
    padding: 71px 0;
    background-color: #f2f2f2;
    margin-top: 68px;
  }

  .modal-window__header {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
  }
}
