.photo-of-day__image-block {
  min-height: 137px;
  background-image: url("/source/img/panorama-photo-of-day.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("/source/img/panorama-photo-of-day@2x.jpg");
    min-height: 137px;
    background-size: cover;
  }
}

.photo-of-day__likes {
  padding: 0 17px;
}

.photo-of-day__mark {
  background-color: #d22856;
  width: 140px;
  text-align: center;
  margin-left: auto;
  margin-right: 20px;
  min-height: 36px;
  padding-top: 4px;
  box-sizing: border-box;
}

.photo-of-day__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.photo-of-day__wrapper {
  background: $background-color;
  margin: 0 20px;
  padding-top: 25px 0 26px;
}


@media (min-width: $tablet-width) {
  .photo-of-day__image-block {
    min-height: 509px;
    background-image: url("/source/img/panorama-photo-of-day-tablet.jpg");
    padding: 57px 20px 0;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("/source/img/panorama-photo-of-day-tablet@2x.jpg");
      min-height: 509px;
      background-size: cover;
    }
  }

  .photo-of-day__wrapper {
    position: relative;
    padding-top: 0 0 26px;
    width: 620px;
    margin: 0 auto;
  }

  .photo-of-day__likes {
    position: absolute;
    top: 0;
    right: 30px;
    padding: 30px 28px 0 0;
  }

  .photo-of-day__mark {
    margin: 0 0 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .photo-of-day__image-block {
    min-height: 506px;
    background-image: url("/source/img/panorama-photo-of-day-desktop.jpg");
    padding: 57px 20px 0;
    background-size: cover;


    @media (min-resolution: 2dppx) {
      background-image: url("/source/img/panorama-photo-of-day-desktop@2x.jpg");
      min-height: 506px;
      background-size: cover;
    }
  }


  .photo-of-day__mark {
    margin-right: 110px;
  }


  .photo-of-day__wrapper {
    width: 940px;
  }
}
