.price__table {
  display: grid;
}

.price__tariff-plan {
  background-color: #283645;
}
.price__tariff-plan-hidden {
  display: none;
}

.price__tariff-plan-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.price__tariff-plan-number {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
}

.price__facilities-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

@media (min-width: $tablet-width) {
  .price__empty-cell {
    width: 25%;
  }

  .price__tariff-plan {
    width: 25%;
  }

  .price__tariff-plan-wrapper {
    display: flex;
  }

  .price__tariff-plan-hidden {
    display: block;
  }
}
