.price__tariff-plan {
  background-color: #283645;
}

.price__tariff-plan-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
}

.price__tariff-plan-number {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
}

.price__facilities-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
