.quote {
  margin: 0;
  text-align: left;
  padding: 0 17px;
}

.quote__author-name {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.quote__time-public {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: #283645;
}

.quote__comment {
  margin: 0;
}

.quote__comment-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

@media (min-width: $tablet-width) {
  .quote {
    padding: 0 38px 0 30px;
  }
}
