.range-scale {
  &--hidden {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .range-scale {
    &--hidden {
      display: block;
    }
  }

  .range-scale {
    &--delete {
      display: none;
    }
  }
}
