.represent {
  background-color:  #1D2631;
  padding: 0 20px;
}

.represent__text-content {
  text-align: center;
}

.represent__list {
  justify-content: space-around;
  display: flex;
  list-style: none;
  padding: 0;
}

.represent__explanation {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .represent {
    width: 320px;
    background-color: rgb(29, 38, 49,  0);
  }
}
