.reviews__wrapper {
  padding: 0 20px;
  text-align: center;
}

.reviews__list {
  list-style: none;
  padding: 0;
}

.reviews__quote {
  margin: 0;
}

.reviews__quote-text {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.reviews__quote-author {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;

}
