.site-list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.site-list__link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;

}

.site-list__link:hover {
  color: #d22856;
}


.site-list__link:active {
  color: rgb(255, 255, 255);
  opacity: 0.3;
}


.site-list__link:focus {
  border-bottom: 2px solid #ffffff;
  display: block;
}


.site-list__item {
  background-color: #283645;
  width: 100%;
  text-align: center;
  padding: 22px 18px;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgb(255 255 255 / 15%);
}



@media (min-width: $desktop-width) {
  .site-list {
    flex-direction: row;
    min-width: 750px;
    padding: 0;
  }

  .site-list__item {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.0);
    box-shadow: none;
  }

  .site-list__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
  }
}
