.slider__toggle {
  width: 6px;
  height: 6px;
  border-radius: 5px;
  padding: 0;
  border: 0;

  &--active {
    outline: 3px solid #283645;
  }
}

.slider__toggles {
  text-align: center;
  margin: 0 auto;
  width: 58px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}


@media (min-width: $desktop-width) {
  .slider__toggles {
    display: none;
  }
}
