.suggestions__wrapper {
  padding: 0 20px;
  text-align: center;
}

.suggestions__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: light;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #283645;
}

.suggestions__list {
  list-style: none;
  padding: 0;
}

.suggestions__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000;
}

.suggestions__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
}
