.your-post {
  padding: 0 20px;
}

.your-post__post-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #d22856;
  text-align: center;
}

.your-post__post {
  width: 280px;
}

.your-post__cancel {
  width: 280px;
}

.your-post__cancel-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #283645;
  opacity: 0.1;
  text-align: center;
}

.your-post__separator {
  width: 100%;
  height: 2px;
  background-color: #283645;
  opacity: 0.1;
}


@media (min-width: $tablet-width) {
  .your-post__wrapper {
    display: flex;
    justify-content: space-around;
  }

  .your-post__separator-hidden {
    display: block;
  }

  .your-post__separator {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-top: 17px;

    &--hidden {
      display: none;
    }
  }
}
