@import "../variables.scss";
@import "./blocks/fonts.scss";
@import "./blocks/main-body.scss";
@import "./blocks/main-header.scss";
@import "./blocks/represent.scss";
@import "./blocks/button-download.scss";
@import "./blocks/suggestions.scss";
@import "./blocks/reviews.scss";
@import "./blocks/slider.scss";
@import "./blocks/price.scss";
@import "./blocks/contacts.scss";
@import "./blocks/copyright.scss";
@import "./blocks/footer.scss";
@import "./blocks/catalog-body.scss";
@import "./blocks/catalog-header.scss";
@import "./blocks/photoes-of-users.scss";
@import "./blocks/photo-of-day.scss";
@import "./blocks/photoes-all-users.scss";
@import "./blocks/quote.scss";
@import "./blocks/likes.scss";
@import "./blocks/your-post.scss";
@import "./blocks/edit-image-buttons-list.scss";
@import "./blocks/form-body.scss";
@import "./blocks/form-header.scss";
@import "./blocks/forms.scss";
@import "./blocks/main-form.scss";
@import "./blocks/main-form-button-submit.scss";
@import "./blocks/site-list.scss";
@import "./blocks/logo.scss";
@import "./blocks/research.scss";
@import "./blocks/range-scale.scss";
@import "./blocks/edit-image-buttons-item.scss";
@import "./blocks/catalog-main-navigation.scss";
@import "./blocks/catalog-navigation-wrapper.scss";
@import "./blocks/site-link.scss";
@import "./blocks/form-main-navigation-wrapper.scss";
@import "./blocks/form-main-navigation.scss";
